<div class="app-content">
  <md-card class="example-card">
    <md-card-content>
      <!--<datatable [dataset]=assets [enableFilter]=true >-->
        <!--<column [value]="'name'" [header]="'Name'"></column>-->
        <!--<column [value]="'currency'" [header]="'Currency'"></column>-->
        <!--<column [value]="'risk_family'" [header]="'Risk Family'"></column>-->
      <!--</datatable>-->
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Currency</th>
          <th>Risk Family</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td><input type="text" class="form-control" *ngIf=enableFilter [(ngModel)]=currency
                      (keyup)=filterCurrency() placeholder="Filter" /></td>
          <td><input type="text" class="form-control" *ngIf=enableFilter [(ngModel)]=risk
                 (keyup)=filterRisk() placeholder="Filter"/></td>
          <td></td>
        </tr>
        <tr *ngFor="let asset of getData()">
          <td>{{asset.name}}</td>
          <td>{{asset.currency}}</td>
          <td>{{asset.risk_family}}</td>
          <button (click)="detailsAsset(asset)" color="primary"><md-icon>info_outline</md-icon></button>
        </tr>
        </tbody>
      </table>
    </md-card-content>
    <md-card-actions>
    </md-card-actions>
  </md-card>
  <button (click)="newAsset()" md-fab class="md-button-ripple-round"><md-icon>note_add</md-icon></button>
</div>
