<div class="app-content">
  <md-card  *ngFor="let asset of assets" class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{asset.name}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>
        {{asset.currency}},{{asset.risk_family}}
      </p>
    </md-card-content>
    <md-card-actions>
      <button (click)="detailsAsset(asset)" color="primary" md-fab><md-icon>edit</md-icon></button>
      <button (click)="deleteAsset(asset)" color="warn" md-fab><md-icon>deletes</md-icon></button>
      <button (click)="gotoAssets()" md-fab><md-icon>home</md-icon></button>
    </md-card-actions>
  </md-card>
  <button (click)="newAsset()" md-fab class="md-button-ripple-round"><md-icon>note_add</md-icon></button>
</div>
